body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: black;
  color: white;
  transition: all .5s ease;
}

a {
  color: #0F0 !important;
}

a:hover {
  text-decoration: underline !important;
  color: #F0F !important;
}